@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 255 255 255;
  --foreground: 17 24 39;
}

html, body {
  height: 100%;
}

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background));
}

/* Simple scrollbar */
*::-webkit-scrollbar { height: 10px; width: 10px; }
*::-webkit-scrollbar-track { background: #e5e7eb; }
*::-webkit-scrollbar-thumb { background: #9ca3af; border-radius: 8px; }
